:root {
    --default-font: 'Quicksand';
    --header-font: 'Bebas Neue';
}
* {
    box-sizing: border-box;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7,.7);
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate3d(-20vw, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    } 
}
@keyframes shiver {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rotateIcons {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

html, body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    font-family: var(--default-font);
    background: #CDFFF5;
}
a {
    color: #1D3533;
    text-decoration: none;
    &:visited {
        @extend a;
    }
}
h1:not(.big) {
    font-family: var(--default-font);
    font-size: 5rem;
    font-weight: normal;
    text-transform: lowercase;
    margin: 0 0 1rem;
}
h1.big {
    font-size: 6rem;
    font-weight: 200;
    white-space: nowrap;
    color: #8CB7F1;
    text-shadow: 2px 2px 0px #9BFFD1, 4px 4px 0px #EFDFFF;
    margin: 0;
    letter-spacing: -0.2rem;
}
#shroom {
    height: 5rem;
}
h2 {
    font-size: 2rem;
}
.bubbles {
    margin-top: 1.5rem;
    button {
        border: 0;
        background: linear-gradient(135deg, #A0C7FC, #a0b9fc);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 999px;
        display: inline-block;
        font-size: 1.3rem;
        cursor: pointer;
        outline: none;
        color: #D2FFF8;
        box-shadow: 2px 2px 0px #9BFFD1, 4px 4px 0px #EFDFFF;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            margin-top: 1px;
            transition: all 0.2s;
        }
        & + button {
            margin-left: 0.5rem;
        }
        &:hover {
            i {
                transform: scale(1.1) translate3d(-50%, -50%, 0);
                text-shadow: 0px 0px 0.5rem #D2FFF8;
            }
        }
    }
}
.tag {
    background: #B192FF;
    background: linear-gradient(160deg, #B192FF 0%, #93C1FF 100%);
    border-radius: 999px;
    border: 1px solid #fff;
    text-align: center !important;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 0px #8093F9;
    display: inline-block;
    padding: 0.3rem 1rem 0.4rem;
    margin: 0.5rem;
    cursor: default;
}
.fade-in-element {
    animation: fade-in 1.4s;
}
.slide-in-element {
    animation: slide-in 1.4s;
}
[class*='hidden'] {
    opacity: 0;
}
@media screen and (max-width: 1200px) {
    .tag {
        margin: 0.3rem 0.15rem;
        font-size: 1rem;
        padding: 0.1rem 0.5rem 0.2rem;
    }
}
@media screen and (max-width: 600px) {
    h1:not(.big) {
        font-size: 2.5rem;
        text-align: center;
    }
    .tag {
        font-size: 0.8rem;
    }
}

#header {
    position: fixed; display: none;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
#hero {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    #dist {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 130%;
        height: auto;
        background: url('images/hero/far.svg') bottom left no-repeat;
        opacity: 0.2;
    }
    #bg {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
    #mid {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
    #fg {
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 100%;
        height: auto;
    }
    #dim {
        opacity: 0.6;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(194,254,244,1) 64%, rgba(194,254,244,1) 100%);
        transition: opacity 0.5s;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
#hi-c {
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
    width: 55%;
    height: 70%;
    display: grid;
    #hi {
        width: 80%;
        margin: auto;
        #gnome {
            width: 70%;
            margin: 0;
            display: block;
        }
        .shroom {
            display: none;
            width: auto;
            height: 4rem;
            float: left;
            margin: 0.5rem;
            margin-left: 0;
            margin-bottom: 0;
        }
        p {
            width: 100%;
            font-size: 1.5rem;
            text-align: left;
            color: #8CB7F1;
            text-shadow: 1px 1px 0px #9BFFD1, 2px 2px 0px #EFDFFF;
            margin: 0;
            margin-top: 0.5rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    #hero {
        & > div {
            background-position: bottom center;
        }
        #dim {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    #hero {
        & > div {
            background-size: auto 70%;
        }
    }
    #hi-c {
        width: 100%;
        height: 50%;
        #hi {
            p {
                font-size: 2rem;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    #hero {
        & > div {
            background-size: auto 100%;
            background-position: bottom right;
        }
        #fg, #mid {
            background-size: auto 80%;
        }
    }
    #hi-c {
        width: 100%;
        height: 60%;
        #hi p {
            font-size: 1.4rem;
        }
    }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    #hi-c {
        width: 60%;
        height: 80%;
        #hi h1 {
            font-size: 3rem;
            letter-spacing: -0.1rem;
        }
        #hi p {
            font-size: 1.1rem;
        }
    }
}
@media screen and (max-width: 600px) {
    #hero {
        & > div {
            background-position: bottom center;
        }
        #bg {
            background-size: auto 70%;
            background-position: 70% 100%;
        }
        #fg, #mid {
            background-size: auto 60%;
        }
    }
    #hi-c {
        height: 55%;
        #hi #shroom {
            height: 3rem;
        }
        #hi h1 {
            font-size: 12vw;
            text-shadow: 1.5px 1.5px 0px #9BFFD1, 3px 3px 0px #EFDFFF;
            letter-spacing: -0.1rem;
        }
        #hi p {
            font-size: 1.1rem;
            background: none;
        }
    }
}
@media screen and (max-width: 300px) {
    #hi-c {
        #hi h1 {
            font-size: 13vw;
            margin: 0.5rem 0 1rem;
        }
        #hi p {
            font-size: 1rem;
        }
    }
}

#content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100%;
    color: #298687;
    background: #CDFFF5;
    z-index: 99;
    .wavy {
        width: 100%;
        height: auto;
    }
    font-size: 0;
    .section {
        padding: 2rem 10vw;
        font-size: 1.2rem;
    }
}
#intro.section {
    background: #3CA470 url('images/bgcolor.png') repeat;
    color: #CDFFF5;
    text-shadow: 1px 1px 0px #227C4F, 1px 1px 5px #227C4F;
    h1 {
        color: #CDFFF5;
        text-shadow: 0.3rem 0.3rem 0px #2D8E5D;
    }
    .intro {
        display: grid;
        grid-template-columns: 7rem 1fr;
        align-items: center;
        #me {
            width: 100%;
            height: auto;
            border: 2px solid #fff;
            border-radius: 999px;
        }
        p {
            padding-left: 1.5rem;
            margin: 0;
        }
    }
}
#services.section {
    margin-top: -15vw;
    color: #39A5A6;
    h1 {
        color: #39A5A6;
        text-shadow: 0.3rem 0.3rem 0px #9EE8D9;
    }
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 2rem -1rem 0;
        .service {
            flex: 1 1 215px;
            text-align: center;
            margin: 2rem 1rem;
            background: #EAFFFB;
            box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
            padding: 2rem;
            border-radius: 2rem;
            h2 {
                margin-top: -4.5rem;
                font-size: 1.5rem;
                color: #39A5A6;
                font-weight: 500;
                padding-bottom: 1.2rem;
                border-bottom: 1px solid #9FE8DA;
                margin-bottom: 1.5rem;
                i {
                    display: block;
                    width: 5rem;
                    height: 5rem;
                    font-size: 2rem;
                    color: #fff;
                    text-shadow: 1px 1px 0px #7899DA;
                    background: #5AF5F4;
                    background: linear-gradient(160deg, #5AF5F4 0%, #D3A9FF 100%);
                    border: 5px solid #EAFFFB;
                    border-radius: 999px;
                    display: grid;
                    margin: 0 auto 1rem;
                    &::before {
                        margin: auto;
                    }
                    &:hover {
                        animation: rotateIcons;
                        animation-duration: 1.5s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }
            }
        }
    }
}
#skills.section {
    background: #9BEEFF;
    h1 {
        color: #519DCF;
        text-shadow: 0.3rem 0.3rem 0px #7AD9ED;
    }
    .skills {
        width: 100%;
        .skill {
            display: grid;
            grid-template-rows: auto;
            align-items: center;
            h2 {
                color: #519DD0;
                font-weight: 400;
                text-transform: lowercase;
                margin-top: 0;
                margin-bottom: 0.5rem;
            }
            &:nth-of-type(odd) {
                grid-template-columns: 250px 1fr;
                text-align: left;
                .lp {
                    grid-column: 1 / 2;
                }
                div {
                    grid-column: 2 / -1;
                    padding-left: 2rem;
                }
            }
            &:nth-of-type(even) {
                grid-template-columns: 1fr 250px;
                text-align: right;
                .lp {
                    grid-column: 2 / -1;
                }
                div {
                    grid-column: 1 / 2;
                    padding-right: 2rem;
                }
            }
            .lp {
                width: 100%;
                &:hover {
                    animation: shiver 0.5s ease;
                }
            }
            .lp, div {
                grid-row: 1;
            }
            .tag {
                box-shadow: 0.15rem 0.15rem 5px #66DBF3, 0.15rem 0.15rem 15px #35DAF8;
                &:hover {
                    animation: shiver 0.5s ease;
                }
            }
        }
    }
}
#projects.section {
    color: #39A5A6;
    h1 {
        color: #39A5A6;
        text-shadow: 0.3rem 0.3rem 0px #9EE8D9;
    }
    .project {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        margin: 4rem 0;
        &:nth-of-type(odd) {
            .preview {
                grid-column: 1 / 8;
            }
            .notes {
                grid-column: 7 / -1;
                text-align: right;
                .services_given {
                    text-align: right;
                }
                .tags {
                    float: right;
                    text-align: right;
                }
            }
        }
        &:nth-of-type(even) {
            .preview {
                grid-column: 5 / -1;
            }
            .notes {
                grid-column: 1 / 6;
                text-align: left;
                .services_given {
                    text-align: left;
                }
                .tags {
                    float: left;
                    text-align: left;
                }
            }
        }
        .preview {
            grid-row: 1 / 1;
            padding: 1rem;
            background: #EAFFFB;
            box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
            font-size: 0;
            img {
                width: 100%;
                transition: filter 0.5s;
            }
        }
        .notes {
            grid-row: 1 / 1;
            z-index: 9999;
            h2 {
                width: 80%;
                display: inline-block;
                margin: 0;
                transition: transform 0.2s;
                a {
                    display: block;
                    color: #1C6D6E;
                    text-shadow: 0.4rem 0.4rem 0px #9FE8DA;
                    transition: text-shadow 0.2s;
                    &.shortish {
                        font-size: 3rem;
                    }
                    &.longish {
                        font-size: 2.2rem;
                        margin-bottom: 0.3rem;
                    }
                }
                &:hover {
                    transform: translate3d(0.2rem, 0.2rem, 0);
                    a {
                        text-shadow: 0.2rem 0.2rem 0px #9FE8DA;
                    }
                }
            }
            .services_given {
                width: 80%;
                display: inline-block;
                margin: 0.5rem 0 0;
                font-size: 0.9rem;
            }
            .blurb {
                background: #EAFFFB;
                box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
                text-align: left;
                padding: 1.5rem;
                font-size: 1rem;
                color: #1C6D6E;
                text-shadow: none;
                transition: background 0.5s;
            }
            .tags {
                width: 80%;
                .tag {
                    font-size: 0.9rem;
                    box-shadow: 0.15rem 0.15rem 5px rgba(22, 122, 74, 0.3);
                }
            }
            a.visit {
                margin-left: 0.5rem;
                display: inline-block;
                transition: all 0.2s;
                &::before {
                    content: '\f0da';
                    font-family: FontAwesome;
                    margin-right: 0.5rem;
                }
                &:hover {
                    color: #333;
                    transform: translate3d(3px, 0, 0);
                }
            }
        }
    }
}
#contact.section {
    background: #D0C4FF;
    position: relative;
    padding-top: 0;
    h1 {
        color: #7972C3;
        text-shadow: 0.3rem 0.3rem 0px #BCAEF3, 0 0 5rem #D0C4FF;
        padding: 2rem 0 4rem;
        margin-bottom: 0;
        text-align: center;
        transition: background 0.5s;
    }
    .contact {
        position: relative;
        z-index: 10;
        text-align: center;
        color: #6E68AC;
        p {
            width: 50%;
            margin: 2rem auto;
            text-align: center;
        }
        h1 + p {
            margin-top: -2rem;
        }
        a {
            display: inline-block;
            font-size: 3rem;
            color: #fff;
            text-shadow: 0px 0px 1rem #7A72C3;
            transition: all 0.2s;
            animation: 0.6s;
            &:hover {
                transform: scale(1.1);
                text-shadow: 0px 0px 1rem #fff;
            }
        }
    }
    .gradient {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse farthest-side at 50% 100%, rgba(209,197,255,0.8) 75%, rgba(209,197,255,0.5) 85%, rgba(255,255,255,0) 100%);
        opacity: 0;
        transition: opacity 0.5s;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 30%;
        height: auto;
        z-index: 0;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}
#footer {
    display: grid;
    width: 100vw;
    height: 1.5rem;
    padding: 1rem 0;
    box-sizing: content-box;
    font-size: 1rem;
    text-align: center;
    background: #7A72C3;
    color: #fff;
    span {
        margin: auto;
        padding: 0 1rem;
        background: #E5D0FF;
        background: linear-gradient(99deg, #f0e0ff 0%, #b6fff0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(1px 1px 0px #655DAD);
    }
}
@media screen and (max-width: 1200px) {
    #services.section {
        .services {
            margin: 3rem -1rem 0;
            .service {
                padding: 1rem;
                margin: 1rem 0.75rem;
                font-size: 1rem;
                h2 {
                    padding-bottom: 0;
                    border-bottom: 0;
                    margin-bottom: 1rem;
                    margin-top: -3.5rem;
                }
            }
        }
    }
    #skills.section {
        .skills {
            .skill {
                h2 {
                    font-size: 1.8rem;
                }
            }
        }
    }
    #projects.section {
        .projects {
            .project {
                h2 {
                    a {
                        &.longish {
                            font-size: 1.9rem;
                        }
                        &.shortish {
                            font-size: 2.5rem;
                        }
                    }
                }
                .notes {
                    .blurb {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    #contact.section {
        .gradient {
            opacity: 0.8;
        }
        .footer {
            width: 40%;
        }
    }
}
@media screen and (max-width: 900px) {
    #services.section {
        .services {
            margin: 2rem -1rem 1rem;
            .service {
                margin: 1.5rem;
            }
        }
    }
    #skills.section {
        .skills {
            .skill {
                margin: 2rem 0;
            }
        }
    }
    #projects.section {
        .projects {
            .project {
                &:nth-of-type(odd) {
                    .preview {
                        grid-column: 1 / 7;
                    }
                    .notes {
                        grid-column: 6 / -1;
                    }
                }
                &:nth-of-type(even) {
                    .preview {
                        grid-column: 6 / -1;
                    }
                    .notes {
                        grid-column: 1 / 7;
                    }
                }
                .preview {
                    padding: 0.5rem;
                }
                h2 {
                    width: 84%;
                }
                .notes {
                    .tags {
                        width: 84%;
                    }
                }
            }
        }
    }
    #contact.section {
        h1 {
            background: radial-gradient(ellipse closest-side, rgba(209,197,255,0.5) 63%, rgba(209,197,255,0.3) 83%, rgba(255,255,255,0) 93%);
        }
        .gradient {
            opacity: 1;
        }
        .footer {
            width: 60%;
        }
    }
}
@media screen and (max-width: 600px) {
    #content {
        .section {
            font-size: 1rem;
        }
    }
    #intro.section {
        h1 {
            text-shadow: 0.1rem 0.1rem 0 #2D8E5D;
        }
        .intro {
            display: block;
            margin-bottom: 2rem;
            #me {
                width: 4rem;
                border-width: 1px;
                float: left;
                margin: 0 1rem 1rem 0;
            }
            p {
                padding-left: 0;
            }
        }
    }
    #services.section {
        h1 {
            text-shadow: 0.1rem 0.1rem 0px #9EE8D9;
        }
        .services {
            .service {
                margin: 1.5rem 0.75rem;
                h2 {
                    margin-top: -3rem;
                    i {
                        width: 4rem;
                        height: 4rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    #skills.section {
        padding: 2rem 5vw;
        h1 {
            text-shadow: 0.1rem 0.1rem 0px #7AD9ED;
        }
        .skills {
            .skill {
                h2 {
                    font-size: 1.3rem;
                }
                display: block;
                &:nth-of-type(odd) {
                    .lp {
                        float: left;
                        margin-right: 1rem;
                    }
                }
                &:nth-of-type(even) {
                    .lp {
                        float: right;
                        margin-left: 1rem;
                    }
                }
                .lp {
                    width: 30vw;
                    max-width: 100px;
                    margin: auto;
                }
            }
        }
    }
    #projects.section {
        h1 {
            text-shadow: 0.1rem 0.1rem 0px #9EE8D9;
        }
        .project {
            grid-template-columns: auto;
            grid-template-rows: auto 1fr;
            .preview {
                grid-column: 1 !important;
                grid-row: 1 / 2;
                margin-bottom: 1rem;
            }
            .notes {
                grid-column: 1 !important;
                grid-row: 2 / -1;
                h2 {
                    a {
                        text-shadow: 0.1rem 0.1rem 0px #9FE8DA;
                    }
                }
                h2, .services_given, .tags {
                    width: 100%;
                }
            }
        }
    }
    #contact.section {
        padding-bottom: 60vw;
        h1 {
            text-shadow: 0.1rem 0.1rem 0px #BCAEF3, 0 0 5rem #D0C4FF;
        }
        .contact {
            a {
                font-size: 1.5rem;
            }
            p {
                width: 100%;
            }
        }
        .gradient {
            height: 60%;
            bottom: 20%;
            background: radial-gradient(ellipse farthest-side at 50% 50%,rgba(209,197,255,0.5) 70%, rgba(209,197,255,0.4) 85%, rgba(255,255,255,0) 100%);
        }
    }
    #footer {
        span {
            font-size: 3.5vw;
        }
    }
}
@media screen and (max-width: 300px) {
    #contact.section {
        .contact {
            p {
                width: 90%;
                margin: 1rem auto;
            }
            h1 + p {
                margin-top: -3rem;
            }
            margin-bottom: 10vw;
        }
        .gradient {
            background: radial-gradient(ellipse farthest-side at 50% 50%, rgba(209,197,255,0.9) 50%, rgba(209,197,255,0.7) 65%, rgba(209,197,255,0.5) 85%, rgba(255,255,255,0) 100%);
        }
        .footer {
            width: 65%;
            opacity: 0.5;
        }
    }
}