:root {
  --default-font: 'Quicksand';
  --header-font: 'Bebas Neue';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20vw, 0, 0);
            transform: translate3d(-20vw, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20vw, 0, 0);
            transform: translate3d(-20vw, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shiver {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shiver {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rotateIcons {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIcons {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html, body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--default-font);
  background: #CDFFF5;
}

a, a:visited {
  color: #1D3533;
  text-decoration: none;
}

h1:not(.big) {
  font-family: var(--default-font);
  font-size: 5rem;
  font-weight: normal;
  text-transform: lowercase;
  margin: 0 0 1rem;
}

h1.big {
  font-size: 6rem;
  font-weight: 200;
  white-space: nowrap;
  color: #8CB7F1;
  text-shadow: 2px 2px 0px #9BFFD1, 4px 4px 0px #EFDFFF;
  margin: 0;
  letter-spacing: -0.2rem;
}

#shroom {
  height: 5rem;
}

h2 {
  font-size: 2rem;
}

.bubbles {
  margin-top: 1.5rem;
}

.bubbles button {
  border: 0;
  background: linear-gradient(135deg, #A0C7FC, #a0b9fc);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  color: #D2FFF8;
  -webkit-box-shadow: 2px 2px 0px #9BFFD1, 4px 4px 0px #EFDFFF;
          box-shadow: 2px 2px 0px #9BFFD1, 4px 4px 0px #EFDFFF;
  position: relative;
}

.bubbles button i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  margin-top: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bubbles button + button {
  margin-left: 0.5rem;
}

.bubbles button:hover i {
  -webkit-transform: scale(1.1) translate3d(-50%, -50%, 0);
          transform: scale(1.1) translate3d(-50%, -50%, 0);
  text-shadow: 0px 0px 0.5rem #D2FFF8;
}

.tag {
  background: #B192FF;
  background: linear-gradient(160deg, #B192FF 0%, #93C1FF 100%);
  border-radius: 999px;
  border: 1px solid #fff;
  text-align: center !important;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 0px #8093F9;
  display: inline-block;
  padding: 0.3rem 1rem 0.4rem;
  margin: 0.5rem;
  cursor: default;
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}

.slide-in-element {
  -webkit-animation: slide-in 1.4s;
          animation: slide-in 1.4s;
}

[class*='hidden'] {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .tag {
    margin: 0.3rem 0.15rem;
    font-size: 1rem;
    padding: 0.1rem 0.5rem 0.2rem;
  }
}

@media screen and (max-width: 600px) {
  h1:not(.big) {
    font-size: 2.5rem;
    text-align: center;
  }
  .tag {
    font-size: 0.8rem;
  }
}

#header {
  position: fixed;
  display: none;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #aaa;
          box-shadow: 0px 0px 5px #aaa;
}

#hero {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#hero #bg {
  position: fixed;
}

@media (max-width: 599px) {
  #hero #bg {
    background-image: url("images/bgcompressed_tzdmxo/bgcompressed_tzdmxo_c_scale,w_650.png");
  }
}

@media (min-width: 600px) {
  #hero #bg {
    background-image: url("images/bgcompressed_tzdmxo/bgcompressed_tzdmxo_c_scale,w_931.png");
  }
}

@media (min-width: 900px) {
  #hero #bg {
    background-image: url("images/bgcompressed_tzdmxo/bgcompressed_tzdmxo_c_scale,w_1241.png");
  }
}

@media (min-width: 1200px) {
  #hero #bg {
    background-image: url("images/bgcompressed_tzdmxo/bgcompressed_tzdmxo_c_scale,w_1400.png");
  }
}

@media (min-width: 1800px) {
  #hero #bg {
    background-image: url("images/bgcompressed_tzdmxo/bgcompressed.png");
  }
}

#hero #mid {
  position: fixed;
}

@media (max-width: 599px) {
  #hero #mid {
    background-image: url("images/midcompressed_julg6n/midcompressed_julg6n_c_scale,w_712.png");
  }
}

@media (min-width: 600px) {
  #hero #mid {
    background-image: url("images/midcompressed_julg6n/midcompressed_julg6n_c_scale,w_971.png");
  }
}

@media (min-width: 900px) {
  #hero #mid {
    background-image: url("images/midcompressed_julg6n/midcompressed_julg6n_c_scale,w_1199.png");
  }
}

@media (min-width: 1200px) {
  #hero #mid {
    background-image: url("images/midcompressed_julg6n/midcompressed_julg6n_c_scale,w_1400.png");
  }
}

@media (min-width: 1800px) {
  #hero #mid {
    background-image: url("images/midcompressed_julg6n/midcompressed.png");
  }
}

#hero #fg {
  position: absolute;
}

@media (max-width: 599px) {
  #hero #fg {
    background-image: url("images/fgcompressed_gdjkzr/fgcompressed_gdjkzr_c_scale,w_640.png");
  }
}

@media (min-width: 600px) {
  #hero #fg {
    background-image: url("images/fgcompressed_gdjkzr/fgcompressed_gdjkzr_c_scale,w_962.png");
  }
}

@media (min-width: 900px) {
  #hero #fg {
    background-image: url("images/fgcompressed_gdjkzr/fgcompressed_gdjkzr_c_scale,w_1238.png");
  }
}

@media (min-width: 1200px) {
  #hero #fg {
    background-image: url("images/fgcompressed_gdjkzr/fgcompressed_gdjkzr_c_scale,w_1400.png");
  }
}

@media (min-width: 1800px) {
  #hero #fg {
    background-image: url("images/fgcompressed_gdjkzr/fgcompressed.png");
  }
}

#hero #dim {
  opacity: 0.6;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(64%, #c2fef4), to(#c2fef4));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #c2fef4 64%, #c2fef4 100%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
}

#hero > div {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#hi-c {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  width: 55%;
  height: 70%;
  display: -ms-grid;
  display: grid;
}

#hi-c #hi {
  width: 80%;
  margin: auto;
}

#hi-c #hi #gnome {
  width: 70%;
  margin: 0;
  display: block;
}

#hi-c #hi .shroom {
  display: none;
  width: auto;
  height: 4rem;
  float: left;
  margin: 0.5rem;
  margin-left: 0;
  margin-bottom: 0;
}

#hi-c #hi p {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  color: #8CB7F1;
  text-shadow: 1px 1px 0px #9BFFD1, 2px 2px 0px #EFDFFF;
  margin: 0;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1200px) {
  #hero > div {
    background-position: bottom center;
  }
  #hero #dim {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  #hero > div {
    background-size: auto 70%;
  }
  #hi-c {
    width: 100%;
    height: 50%;
  }
  #hi-c #hi p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  #hero > div {
    background-size: auto 100%;
    background-position: bottom right;
  }
  #hero #fg, #hero #mid {
    background-size: auto 80%;
  }
  #hi-c {
    width: 100%;
    height: 60%;
  }
  #hi-c #hi p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  #hi-c {
    width: 60%;
    height: 80%;
  }
  #hi-c #hi h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
  #hi-c #hi p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  #hero > div {
    background-position: bottom center;
  }
  #hero #bg {
    background-size: auto 70%;
    background-position: 70% 100%;
  }
  #hero #fg, #hero #mid {
    background-size: auto 60%;
  }
  #hi-c {
    height: 55%;
  }
  #hi-c #hi #shroom {
    height: 3rem;
  }
  #hi-c #hi h1 {
    font-size: 12vw;
    letter-spacing: -0.1rem;
  }
  #hi-c #hi p {
    font-size: 1.1rem;
    background: none;
  }
}

@media screen and (max-width: 300px) {
  #hi-c #hi h1 {
    font-size: 13vw;
    margin: 0.5rem 0 1rem;
  }
  #hi-c #hi p {
    font-size: 1rem;
  }
}

#content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: #298687;
  background: #CDFFF5;
  z-index: 99;
  font-size: 0;
}

#content .wavy {
  width: 100%;
  height: auto;
}

#content .section {
  padding: 2rem 10vw;
  font-size: 1.2rem;
}

#intro.section {
  background: #3CA470 url("images/bgcolor.png") repeat;
  color: #CDFFF5;
  text-shadow: 1px 1px 0px #227C4F, 1px 1px 5px #227C4F;
}

#intro.section h1 {
  color: #CDFFF5;
  text-shadow: 0.3rem 0.3rem 0px #2D8E5D;
}

#intro.section .intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 1fr;
      grid-template-columns: 7rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro.section .intro #me {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 999px;
}

#intro.section .intro p {
  padding-left: 1.5rem;
  margin: 0;
}

#services.section {
  margin-top: -15vw;
  color: #39A5A6;
}

#services.section h1 {
  color: #39A5A6;
  text-shadow: 0.3rem 0.3rem 0px #9EE8D9;
}

#services.section .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem -1rem 0;
}

#services.section .services .service {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 215px;
          flex: 1 1 215px;
  text-align: center;
  margin: 2rem 1rem;
  background: #EAFFFB;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
          box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
  padding: 2rem;
  border-radius: 2rem;
}

#services.section .services .service h2 {
  margin-top: -4.5rem;
  font-size: 1.5rem;
  color: #39A5A6;
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #9FE8DA;
  margin-bottom: 1.5rem;
}

#services.section .services .service h2 i {
  display: block;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 0px #7899DA;
  background: #5AF5F4;
  background: linear-gradient(160deg, #5AF5F4 0%, #D3A9FF 100%);
  border: 5px solid #EAFFFB;
  border-radius: 999px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto 1rem;
}

#services.section .services .service h2 i::before {
  margin: auto;
}

#services.section .services .service h2 i:hover {
  -webkit-animation: rotateIcons;
          animation: rotateIcons;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#skills.section {
  background: #9BEEFF;
}

#skills.section h1 {
  color: #519DCF;
  text-shadow: 0.3rem 0.3rem 0px #7AD9ED;
}

#skills.section .skills {
  width: 100%;
}

#skills.section .skills .skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills.section .skills .skill h2 {
  color: #519DD0;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#skills.section .skills .skill:nth-of-type(odd) {
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
  text-align: left;
}

#skills.section .skills .skill:nth-of-type(odd) .lp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#skills.section .skills .skill:nth-of-type(odd) div {
  grid-column: 2 / -1;
  padding-left: 2rem;
}

#skills.section .skills .skill:nth-of-type(even) {
  -ms-grid-columns: 1fr 250px;
      grid-template-columns: 1fr 250px;
  text-align: right;
}

#skills.section .skills .skill:nth-of-type(even) .lp {
  grid-column: 2 / -1;
}

#skills.section .skills .skill:nth-of-type(even) div {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-right: 2rem;
}

#skills.section .skills .skill .lp {
  width: 100%;
}

#skills.section .skills .skill .lp:hover {
  -webkit-animation: shiver 0.5s ease;
          animation: shiver 0.5s ease;
}

#skills.section .skills .skill .lp, #skills.section .skills .skill div {
  -ms-grid-row: 1;
  grid-row: 1;
}

#skills.section .skills .skill .tag {
  -webkit-box-shadow: 0.15rem 0.15rem 5px #66DBF3, 0.15rem 0.15rem 15px #35DAF8;
          box-shadow: 0.15rem 0.15rem 5px #66DBF3, 0.15rem 0.15rem 15px #35DAF8;
}

#skills.section .skills .skill .tag:hover {
  -webkit-animation: shiver 0.5s ease;
          animation: shiver 0.5s ease;
}

#projects.section {
  color: #39A5A6;
}

#projects.section h1 {
  color: #39A5A6;
  text-shadow: 0.3rem 0.3rem 0px #9EE8D9;
}

#projects.section .project {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 4rem 0;
}

#projects.section .project:nth-of-type(odd) .preview {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
}

#projects.section .project:nth-of-type(odd) .notes {
  grid-column: 7 / -1;
  text-align: right;
}

#projects.section .project:nth-of-type(odd) .notes .services_given {
  text-align: right;
}

#projects.section .project:nth-of-type(odd) .notes .tags {
  float: right;
  text-align: right;
}

#projects.section .project:nth-of-type(even) .preview {
  grid-column: 5 / -1;
}

#projects.section .project:nth-of-type(even) .notes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  text-align: left;
}

#projects.section .project:nth-of-type(even) .notes .services_given {
  text-align: left;
}

#projects.section .project:nth-of-type(even) .notes .tags {
  float: left;
  text-align: left;
}

#projects.section .project .preview {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  padding: 1rem;
  background: #EAFFFB;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
          box-shadow: 0.5rem 0.5rem 1rem #9FE8DA;
  font-size: 0;
}

#projects.section .project .preview img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#projects.section .project .notes {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  z-index: 9999;
}

#projects.section .project .notes h2 {
  width: 80%;
  display: inline-block;
  margin: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#projects.section .project .notes h2 a {
  display: block;
  color: #1C6D6E;
  text-shadow: 0.4rem 0.4rem 0px #9FE8DA;
  -webkit-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
}

#projects.section .project .notes h2 a.shortish {
  font-size: 3rem;
}

#projects.section .project .notes h2 a.longish {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
}

#projects.section .project .notes h2:hover {
  -webkit-transform: translate3d(0.2rem, 0.2rem, 0);
          transform: translate3d(0.2rem, 0.2rem, 0);
}

#projects.section .project .notes h2:hover a {
  text-shadow: 0.2rem 0.2rem 0px #9FE8DA;
}

#projects.section .project .notes .services_given {
  width: 80%;
  display: inline-block;
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
}

#projects.section .project .notes .blurb {
  background: #EAFFFB;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1.5rem;
  font-size: 1rem;
  color: #1C6D6E;
  text-shadow: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#projects.section .project .notes .tags {
  width: 80%;
}

#projects.section .project .notes .tags .tag {
  font-size: 0.9rem;
  -webkit-box-shadow: 0.15rem 0.15rem 5px rgba(22, 122, 74, 0.3);
          box-shadow: 0.15rem 0.15rem 5px rgba(22, 122, 74, 0.3);
}

#projects.section .project .notes a.visit {
  margin-left: 0.5rem;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#projects.section .project .notes a.visit::before {
  content: '\f0da';
  font-family: FontAwesome;
  margin-right: 0.5rem;
}

#projects.section .project .notes a.visit:hover {
  color: #333;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

#contact.section {
  background: #D0C4FF;
  position: relative;
  padding-top: 0;
}

#contact.section h1 {
  color: #7972C3;
  text-shadow: 0.3rem 0.3rem 0px #BCAEF3, 0 0 5rem #D0C4FF;
  padding: 2rem 0 4rem;
  margin-bottom: 0;
  text-align: center;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#contact.section .contact {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #6E68AC;
}

#contact.section .contact p {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

#contact.section .contact h1 + p {
  margin-top: -2rem;
}

#contact.section .contact a {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 1rem #7A72C3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: 0.6s;
          animation: 0.6s;
}

#contact.section .contact a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0px 0px 1rem #fff;
}

#contact.section .gradient {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse farthest-side at 50% 100%, rgba(209, 197, 255, 0.8) 75%, rgba(209, 197, 255, 0.5) 85%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#contact.section .footer {
  position: absolute;
  bottom: 0;
  width: 30%;
  height: auto;
  z-index: 0;
}

#contact.section .footer.left {
  left: 0;
}

#contact.section .footer.right {
  right: 0;
}

#footer {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 1.5rem;
  padding: 1rem 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 1rem;
  text-align: center;
  background: #7A72C3;
  color: #fff;
}

#footer span {
  margin: auto;
  padding: 0 1rem;
  background: #E5D0FF;
  background: linear-gradient(99deg, #f0e0ff 0%, #b6fff0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(1px 1px 0px #655DAD);
          filter: drop-shadow(1px 1px 0px #655DAD);
}

@media screen and (max-width: 1200px) {
  #services.section .services {
    margin: 3rem -1rem 0;
  }
  #services.section .services .service {
    padding: 1rem;
    margin: 1rem 0.75rem;
    font-size: 1rem;
  }
  #services.section .services .service h2 {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 1rem;
    margin-top: -3.5rem;
  }
  #skills.section .skills .skill h2 {
    font-size: 1.8rem;
  }
  #projects.section .projects .project h2 a.longish {
    font-size: 1.9rem;
  }
  #projects.section .projects .project h2 a.shortish {
    font-size: 2.5rem;
  }
  #projects.section .projects .project .notes .blurb {
    font-size: 0.9rem;
  }
  #contact.section .gradient {
    opacity: 0.8;
  }
  #contact.section .footer {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  #services.section .services {
    margin: 2rem -1rem 1rem;
  }
  #services.section .services .service {
    margin: 1.5rem;
  }
  #skills.section .skills .skill {
    margin: 2rem 0;
  }
  #projects.section .projects .project:nth-of-type(odd) .preview {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  #projects.section .projects .project:nth-of-type(odd) .notes {
    grid-column: 6 / -1;
  }
  #projects.section .projects .project:nth-of-type(even) .preview {
    grid-column: 6 / -1;
  }
  #projects.section .projects .project:nth-of-type(even) .notes {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  #projects.section .projects .project .preview {
    padding: 0.5rem;
  }
  #projects.section .projects .project h2 {
    width: 84%;
  }
  #projects.section .projects .project .notes .tags {
    width: 84%;
  }
  #contact.section h1 {
    background: radial-gradient(ellipse closest-side, rgba(209, 197, 255, 0.5) 63%, rgba(209, 197, 255, 0.3) 83%, rgba(255, 255, 255, 0) 93%);
  }
  #contact.section .gradient {
    opacity: 1;
  }
  #contact.section .footer {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #content .section {
    font-size: 1rem;
  }
  #intro.section h1 {
    text-shadow: 0.1rem 0.1rem 0 #2D8E5D;
  }
  #intro.section .intro {
    display: block;
    margin-bottom: 2rem;
  }
  #intro.section .intro #me {
    width: 4rem;
    border-width: 1px;
    float: left;
    margin: 0 1rem 1rem 0;
  }
  #intro.section .intro p {
    padding-left: 0;
  }
  #services.section h1 {
    text-shadow: 0.1rem 0.1rem 0px #9EE8D9;
  }
  #services.section .services .service {
    margin: 1.5rem 0.75rem;
  }
  #services.section .services .service h2 {
    margin-top: -3rem;
  }
  #services.section .services .service h2 i {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  #skills.section {
    padding: 2rem 5vw;
  }
  #skills.section h1 {
    text-shadow: 0.1rem 0.1rem 0px #7AD9ED;
  }
  #skills.section .skills .skill {
    display: block;
  }
  #skills.section .skills .skill h2 {
    font-size: 1.3rem;
  }
  #skills.section .skills .skill:nth-of-type(odd) .lp {
    float: left;
    margin-right: 1rem;
  }
  #skills.section .skills .skill:nth-of-type(even) .lp {
    float: right;
    margin-left: 1rem;
  }
  #skills.section .skills .skill .lp {
    width: 30vw;
    max-width: 100px;
    margin: auto;
  }
  #projects.section h1 {
    text-shadow: 0.1rem 0.1rem 0px #9EE8D9;
  }
  #projects.section .project {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  #projects.section .project .preview {
    -ms-grid-column: 1 !important;
    grid-column: 1 !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-bottom: 1rem;
  }
  #projects.section .project .notes {
    -ms-grid-column: 1 !important;
    grid-column: 1 !important;
    grid-row: 2 / -1;
  }
  #projects.section .project .notes h2 a {
    text-shadow: 0.1rem 0.1rem 0px #9FE8DA;
  }
  #projects.section .project .notes h2, #projects.section .project .notes .services_given, #projects.section .project .notes .tags {
    width: 100%;
  }
  #contact.section h1 {
    text-shadow: 0.1rem 0.1rem 0px #BCAEF3, 0 0 5rem #D0C4FF;
  }
  #contact.section .contact a {
    font-size: 1.5rem;
  }
  #contact.section .contact p {
    width: 70%;
  }
  #contact.section .gradient {
    background: radial-gradient(ellipse farthest-side at 50% 50%, rgba(209, 197, 255, 0.85) 70%, rgba(209, 197, 255, 0.4) 85%, rgba(255, 255, 255, 0) 100%);
  }
}

@media screen and (max-width: 300px) {
  #contact.section .contact {
    margin-bottom: 10vw;
  }
  #contact.section .contact p {
    width: 90%;
    margin: 1rem auto;
  }
  #contact.section .contact h1 + p {
    margin-top: -3rem;
  }
  #contact.section .gradient {
    background: radial-gradient(ellipse farthest-side at 50% 50%, rgba(209, 197, 255, 0.9) 50%, rgba(209, 197, 255, 0.7) 65%, rgba(209, 197, 255, 0.5) 85%, rgba(255, 255, 255, 0) 100%);
  }
  #contact.section .footer {
    width: 65%;
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */